<section class="overflow-auto">
    <header class="p-8">
        <h1 class="capitalize  text-6xl text-white ">unlock endless driving <br/> with drivee</h1>
        <p  class="text-gray-300 my-4 ms-2">To contribute to positive change and achieve our <br/> sustainability goals with many extraodinary</p>
        <div class="mt-10">
            <button class="bg-white text-black hover:bg-black hover:text-white border-transparent hover:border-white border py-3 mx-3 px-4 rounded-md transition-all">Rent Car</button>
            <button class="bg-black text-white hover:bg-white hover:text-black hover:border-transparent border-white border py-3 mx-3 px-4 rounded-md transition-all">Rent Bike</button>
        </div>
    </header>
    <div class="md:relative">
        <div class="absolute left-[8.3333333333333%] w-5/6 gap-2 border p-6 bg-white rounded-md  -translate-y-1/2 border-gray-600 grid grid-cols-4">
            <div class="flex flex-col">
                <label for="location" class="my-3">location</label>
                <input type="text" class="border-gray-500 placeholder:text-gray-500" placeholder="Select location" id="location">
            </div>
            <div class="flex flex-col">
                <label for="location" class="my-3">Pack-UP</label>
                <input type="text" id="location">
            </div>
            <div class="flex flex-col">
                <label for="location" class="my-3">date</label>
                <div class="flex gap-0">
                    <input type="date" class="border-r-transparent" id="location">
                    <input type="date" class="border-l-transparent" id="location">
                </div>
            </div>
            <button class="mx-4 bg-black text-white hover:bg-white hover:text-black hover:border-black transition-all  border-white border">search now</button>
        </div>
    </div>
    <p class="mb-96"></p>
</section>